<div class="table-dev table-responsive">
    <table class="table table-bordered table-hover text-center " id="tabledev">
        <thead>
            <tr>
                <th>No.</th>
                <th>ID</th>
                <th>NAME</th>
                <th>LANGUAGE</th>
                <th>ACTIVE</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>

            {% for dev in data%}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{dev.id}}</td>
                <td><a value="{{dev.id}}" href="{{dev.id}}">{{dev.first_name}} {{dev.last_name}}</a></td>
                <td>{{dev.language}}</td>
                <td>
                    {% if dev.active %}
                    <span class="ti-check" style="color: green"></span>
                    {% else %}
                    <span class="ti-close" style="color: red"></span>
                {% endif%}
                </td>
                <td>
                    <div class="btn-group-sm">
                        <button type="button" class="btn btn-primary btn-func" id="projectUpdate{{project.0}}">Update</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modelRemove">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <footer class="row">
        <div class="col-3">
            <ul id="pagination0" class="pagination">

                <li class="page-item0">
                    {% if data.has_previous %}
                    <a class="page-link btn-pre" href="?page={{ data.previous_page_number }}">Previous</a>
                    {% endif %}</li>
                    <li class="page-item active"><a class="page-link" href="#">{{data.number}}</a></li>

                
                <!-- 
                    <nav id="page-number0" class="page-number page-number0">
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                </nav>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>-->
                {% if data.has_next %}
                <li class="page-item"><a class="page-link btn-next" href="?page={{ data.next_page_number }}">Next</a></li>
                    {% endif%}
           </ul>
        </div>
    </footer>
</div>