<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>{{title_page}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style_project.css' %}">
    <link rel="stylesheet" href="{% static 'font/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="modal fade" id="modelRemove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure ?</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you really want to delete? This process cannot be undone.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-danger" id="remove-btn">Remove</button>
            </div>
          </div>
        </div>
      </div>

    
    <div id="createForm">
    {% block popup %}
    {% endblock %}
</div>
    <div class="alert alert-success alert-dismissible col-12 center" id="success" style="display:none;text-align: center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      </div>
      <div class="alert alert-danger alert-dismissible" id="error" style="display:none;text-align: center">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
      </div>
    <!--Header-->
    <div class="container-fluid main">
        
        <header class="header row">
            {% block link %}
            {% endblock %}
            <div class="col ">
                <div class="dropdown create">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                        <span class="icon-new ti-plus"></span> Create
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="openBtn">
                                <button class="openButton dropdown-item createProject">Create Project</button>
                            </div>

                        </li>
                        <li>
                            <div class="openBtn">
                                <button class="openButton dropdown-item createDev">Create Dev</button>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </header>
        <main class="content row">
            <!--Head-Table-->
            {% block headtable %}
            {% endblock %}
            <!--table-->
            <div class="totalTable row" id="totalTable">
                {% block table %}
                {% endblock %}
            </div>

        </main>
        {% block clock %}
    {% endblock %}
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    {% block script %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>
</body>

</html>