
{% extends 'base.html' %}
{% load func %}
{% load static %}
{% load i18n %}
{% block link %}
{% include 'project/linkproject.html' %}
{% endblock %}
{% block headtable %}
{% include 'project/headtableproject.html' %} 
{% endblock %}
{% block table %}
{% include 'project/projecttable2.html' %} 
{% endblock%}
{% block script %}
<script src=" {% static 'js/create.js' %}"></script>
<script src=" {% static 'js/func.js' %}"></script>
<script src=" {% static 'js/table.js' %}"></script>
<script src=" {% static 'js/valid.js' %}"></script>
{% endblock%}