{% load i18n %}
<header class="head-table">
    <h3 class="project-name" id="projectName"></h3>
    <div class="sort d-flex flex-row">
        <div class="select">
            <select id="count" class="form-select select-custom">
            <option selected><span class="title">{% translate "Display"%}: </span>{{data|length}}</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="7">7</option>
          </select>
        </div>
        {% get_current_language as LANGUAGE_CODE %}
        <div class="form-outline search" >
            <form style="display:flex;margin-right: 20px" action="/{{LANGUAGE_CODE}}/project/search/name/" id="search-name-project" method="get">
            <input type="text" class="form-control" id="search-project" placeholder="{% translate "Search for names.." %}" title="Type in a name" style="height: 35px" name="qry" required>
            <button type="submit" class="btn btn-primary" style=" max-height: 35px;">
                <span class="ti-search"></span></button>
            </form>
        </div>
        <form class="form-inline" action="/{{LANGUAGE_CODE}}/project/search/date/" id="search-name-project" method="get" style="display:flex">
            <input name="start_date" type="text" class="form-control datepicker" data-date-format="dd-mm-yyyy" id="startDate" placeholder="{% translate "Start Date.."%}">
       
            <input name="end_date" type="text" class="form-control datepicker" data-date-format="dd-mm-yyyy" id="endDate" placeholder="{% translate "End Date.."%}">
       
            <button type="submit" class="btn btn-primary" id="btnSearchDate" style=" max-height: 35px;">
                <span class="ti-search"></span></button>
        </form>
        <div class="col currency">
            <div class="dropdown ">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" style="max-height: 35px;border-radius: 50px">
                    <span class="ti-money"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <div class="openBtn">
                            <button class="openButton dropdown-item vnd" >VND</button>
                        </div>

                    </li>
                    <li>
                        <div class="openBtn">
                            <button class="openButton dropdown-item usd" >USD</button>
                        </div>
                    </li>

                </ul>
            </div>

        </div>

    </div>

</header>