
{% load i18n %}
<div class="loginPopup">
    <div class="formPopup" id="popupForm">
        <form class="formContainer" id="{{form_id}}" >
            {% csrf_token %}
            <h2 class="title-form">{{title_form}}</h2>

            {{f}}
            <div id="dev-link" class="tag-link">
                {% for dev in devs %}
                <a href="{{dev.0}}" class="devsId" value="{{dev.0}}">{{dev.1}}</a>
                <span class= "ti-close"></span>
                {% endfor %}
            </div>
            <button type="submit" class="btn {{btn_class}}" id ="{{btn_class}}">{% translate "Update"%}</button>
            <button type="button" class="btn cancel">{% translate "Close"%}</button>
        </form>
    </div>
    
</div>