* {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background: #f5f8f9;
}

.link span {
    font-size: 12px;
}

.create span {
    border: solid white 1px;
    background-color: white;
    color: blue;
    border-radius: 50%;
    font-size: 12px;
}

.header {
    margin-left: 10px;
}

.header .heading {
    color: #75c6ea;
}

.create {
    float: right;
    margin-top: 25px;
    margin-right: 30px
}

.btn-func a {
    background: #1da4df;
    border-color: #1da4df;
}

.content {
    background: white;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.head-table {
    top: 0;
    margin-bottom: 30px;
}

.currency {
    margin-left: 20px;
}

.currency span {
    color: black;
    border-radius: 10px;
    background-color: yellow;
}

#headerLink {
    color: #1da4df;
}

.head-table .selectShow {
    margin-top: 30px;
}

.head-table .project-name {
    color: #76848a;
    font-size: 28px;
}

.head-table .search {
    margin-left: 20px;
}

.search-dev {
    margin-top: 20px;
}

.sort {
    float: left;
}

.sort .title {
    color: #d0d0d0;
    margin-top: 7px;
}

.select-custom {
    border: 0px;
    outline: 0px;
    color: #8a8a8a;
}

.page-number {
    display: flex;
}

.page-number li {
    margin: 0px 10px;
}

.btn-func {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.tag-link a {
    margin-top: 10px;
    background-color: #2196F3;
    border-color: #898989;
    color: white;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    text-align: center;
}

.tag-link span {
    color: red;
    margin-bottom: 10px;
    margin-right: 5px;
}

.tag-link span:hover {
    cursor: pointer;
}

.tag-link a::before {
    content: "";
    margin-bottom: 10px;
}

.tag-link a:nth-child(1):before {
    content: "";
}

.language {
    position: fixed;
    right: 10px;
    bottom: 20px;
}

.language ul {
    text-align: center;
}

.language ul li {
    display: inline-block;
    border-radius: 4px;
    padding: 8px 15px;
    border: 1px solid #CFE3DC;
    right: 0px;
    align-items: center;
    justify-content: center;
}

.language:hover ul li {
    display: inline-block;
}

.language ul li a {
    background-color: #F1FFF7;
    color: #44B78B;
    font-weight: 700;
}

.language ul .other {
    text-align: center;
    display: none;
}

.language ul li:last-child:hover>.language ul .other {
    align-self: center;
}